<section id="showcase">
    <div class="container">
        <h1>Welcome to My Website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna.</p>
       <h2 style="color: white;">{{send}}</h2> 
    </div>


</section>

<section id="showcase">
    <div class="container">
        <h1>Welcome to My Website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna.</p>
    </div>
</section>

